[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
chromadb = "*"
joblib = "*"
langchain = "*"
langchain-community = "*"
langchain-openai = "*"
matplotlib = "*"
openai = "*"
pandas = "*"
python-dotenv = "*"
requests = "*"
scikit-learn = "*"
streamlit = "*"
tabulate = "*"
xgboost = "*"
langchain-community = "*"

[dev-packages]

[requires]
python_version = "3.10"
