[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
joblib = "*"
matplotlib = "*"
pandas = "*"
requests = "*"
streamlit = "*"
tabulate = "*"
xgboost = "*"
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3.10"
